<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- CSS File -->
    <link rel="stylesheet" href="static/css/styles.css">
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Chivo&family=Libre+Franklin:wght@600&family=Mulish:wght@600;700&family=Open+Sans:wght@600&family=Roboto:wght@400;500;700&display=swap"
        rel="stylesheet">

    <title>About Us</title>
</head>

<body>

    <!-- Bootstrap JS  -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
    </script>

    <!-- Product Title -->
    <section id="product-title">
        <div class="container-fluid">
            <nav class="navbar navbar-expand-lg navbar-light stroke">
                <a href="index.html" class="navbar-brand"><img class="company-logo" src="static/images/company-logo.svg"
                        alt="CogniTensor Logo"></a>
                <button type="button" class="navbar-toggler toggler-example" data-toggle="collapse" data-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"><i class="fas fa-bars fa-1x"></i></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item"><a href="/about" class="nav-link underline-effect">About</a></li>
                        <li class="nav-item"><a href="/deepoptics" class="nav-link underline-effect">Deep Optics</a></li>
                        <li class="nav-item"><a href="/products" class="nav-link underline-effect">Products</a></li>
                        <li class="nav-item"><a href="/blogs" class="nav-link underline-effect">Blogs</a></li>
                        <li class="nav-item"><a href="/hiring" class="nav-link underline-effect">Hiring</a></li>
                        <li class="nav-item"><a href="/contactus" class="nav-link underline-effect">Contact Us</a></li>
                        <li class="nav-item"><a href="https://console.cognitensor.com/login" class="nav-link"><button type="button"
                                    class="login-btn">Login</button></a></li>
                    </ul>
                </div>
            </nav>
        </div>

        <div class="row container-fluid">
            <div class="col-lg-6">
                <h1 class="about-head">Who are we?</h1>
                <p class="about-para"><span class="cap-c">C</span>ogniTensor is evangelizing Artificial Intelligence (AI) by bringing data
                    to the heart of the decision-making process. Founded in April 2018, CogniTensor brings domain expertise in
                    trailblazing Demand Forecasting Analytics solutions through the SaaS model. We help
                    organisations with quantitative business arrangements by means of an extraordinary mix of
                    business discernment, enormous information and AI. </p>
            </div>
            <div class="col-lg-6">
                <img class="we-trio" src="static/images/aboutus-images/we-trio.svg" alt="We Trio">
            </div>
        </div>
        <div class="about-box"></div>
    </section>

    <section id="whatwedo">
        <img class="right-dots-about" src="static/images/right-dots.svg" alt="Right dot design">
        <div class="row container-fluid">
            <div class="col-lg-6 col-md-6">
                <img class="whatwedo-img" src="static/images/aboutus-images/whatwedo.svg" alt="What we do">
            </div>
            <div class="col-lg-6 col-md-6">
                <h1 class="whatwedo-head whatwedo-resp">What we do</h1>
                <p class="whatwedo-para whatwedo-resp">The solutions offered by CogniTensor deliver predictive & prescriptive
                    analytics through our proprietary AI platform - DeepOptics. Our group incorporates remarkable specialized capability
                    to recognize the organization's key pain areas and reevaluate them into skill. This enables
                    organisations to take near perfect decisions leading to higher revenues, profitability and a
                    deeper level of customer personalization and satisfaction.</p>
            </div>
        </div>
    </section>

    <section id="timeline">
        <h2 class="timeline-head text-center">Timeline</h2>
        <img class="timeline-img" src="static/images/aboutus-images/timeline.svg" alt="">
    </section>

    <section id="founders">
        <h2 class="founders-head text-center">Founders</h2>
        
    </section>

    <br><br><br>
    <footer>
        <img class="footer-building" src="static/images/footer-building.svg" alt="Footer Building">
        <div class="footer-color footer-text text-center p-4">
            © 2021 CogniTensor Technology Pvt. Ltd.
        </div>
    </footer>

</body>

</html>