<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- CSS File -->
    <link rel="stylesheet" href="static/css/styles2.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Chivo&family=Libre+Franklin:wght@600&family=Mulish:wght@600;700&family=Open+Sans:wght@600&family=Roboto:wght@400;500;700&display=swap"
        rel="stylesheet">

    <title>Blogs</title>
</head>

<body>

    <!-- Bootstrap JS  -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
    </script>

    <!-- Product Title -->
    <section id="product-title">
        <div class="container-fluid">
            <nav class="navbar navbar-expand-lg navbar-light stroke">
                <a href="index.html" class="navbar-brand"><img class="company-logo" src="static/images/company-logo.svg"
                        alt="CogniTensor Logo"></a>
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item"><a href="aboutus.html" class="nav-link underline-effect">About</a></li>
                        <li class="nav-item"><a href="deepoptics.html" class="nav-link underline-effect">Deep Optics</a></li>
                        <li class="nav-item"><a href="product.html" class="nav-link underline-effect">Products</a></li>
                        <li class="nav-item"><a href="blogs.html" class="nav-link underline-effect">Blogs</a></li>
                        <li class="nav-item"><a href="hiring.html" class="nav-link underline-effect">Hiring</a></li>
                        <li class="nav-item"><a href="contactus.html" class="nav-link underline-effect">Contact Us</a></li>
                        <li class="nav-item"><a href="https://console.cognitensor.com/login" class="nav-link"><button type="button"
                                    class="login-btn">Login</button></a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </section>

    <section id="news-landing">
        <img class="blogs-dot" src="static/images/left-dots.svg" alt="">
        <div class="row container-fluid">
            <div class="col-lg-6">
                <div class="news-earth">
                    <h1 class="blogs-head">In News</h1>
                    <img class="earth-img" src="static/images/blogs-images/earth.svg" alt="Earth Image">
                </div>
                <p class="blogs-para">Stay updated with the latest at CogniTensor</p>
            </div>
            <div class="col-lg-6">
                <img class="blogs-landing" src="static/images/blogs-images/blogs-landing.svg" alt="Blog Landing Image">
            </div>
        </div>
    </section>

    <section id="articles">

        <div class="container-fluid1">
            <div class="row">
                <div class="col-lg-6">
                    <div class="col-12 mt-3">
                            <div class="card">
                                <div class="card-horizontal">
                                    <img class="articleimg-circle" src="static/images/blogs-images/news1.svg" alt="News 1">
                                    <div class="card-body">
                                        <p class="card-text">Why Artificial Intelligence (AI) solutions seem like Tech Magic</p>
                                        <p class="card-text clicktoread"><a href="https://cio.economictimes.indiatimes.com
                                            /news/next-gen-technologies/why-artificial-intelligence-ai-solutions-seem-
                                            like-tech-magic/75293911">Click to Read More &#62;&#62;</a></p>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="col-12 mt-3">
                        <div class="card">
                            <div class="card-horizontal">
                                <img class="articleimg-circle" src="static/images/blogs-images/news2.svg" alt="News 2">
                                <div class="card-body">
                                    <p class="card-text">Covid-19 Impact: How to Successfully manage startup in
                                        times of uncertainity</p>
                                    <p class="card-text clicktoread"><a href="https://www.linkedin.com/pulse/
                                        covid-19-impact-how-successfully-manage-startup-times-ashish-airon/?articleId=6646988272906137601
                                        #comments-6646988272906137601&trk=public_profile_article_view"> Click to Read More &#62;&#62;</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-6">
                    <div class="col-12 mt-3">
                        <div class="card">
                            <div class="card-horizontal">
                                <img class="articleimg-circle" src="static/images/blogs-images/news3.svg" alt="">
                                <div class="card-body">
                                    <p class="card-text">How AI & ML are Transforming companies by disrupting organisational HR</p>
                                    <p class="card-text clicktoread"><a href="https://cio.economictimes.indiatimes.com/news/
                                        next-gen-technologies/how-ai-and-ml-are-transforming-companies-by-disrupting-organisational-hr/
                                        74604369">Click to Read More &#62;&#62;</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="col-12 mt-3">
                        <div class="card">
                            <div class="card-horizontal">
                                <img class="articleimg-box" src="static/images/blogs-images/news4.svg" alt="">
                                <div class="card-body">
                                    <p class="card-text">CogniTensor on predicting The Future for Supply Chain, Procurement with AI </p>
                                    <p class="card-text clicktoread"><a href="https://inc42.com/startups/cognitensor-on-
                                        predicting-the-future-for-supply-chain-procurement-with-ai/">Click to Read More &#62;&#62;</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-6">
                    <div class="col-12 mt-3">
                        <div class="card">
                            <div class="card-horizontal">
                                <img class="articleimg-circle" src="static/images/blogs-images/news5.svg" alt="">
                                <div class="card-body">
                                    <p class="card-text">Meet the Delhi Boy who failed at DU, made it to Oxford, and then setup a profitable AI startup</p>
                                    <p class="card-text clicktoread"><a href="https://yourstory.com/2020/01/noida-startup-cognitensor-entrepreneur
                                        -ashish-airon">Click to Read More &#62;&#62;</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="col-12 mt-3">
                        <div class="card">
                            <div class="card-horizontal">
                                <img class="articleimg-circle" src="static/images/blogs-images/news6.svg" alt="">
                                <div class="card-body">
                                    <p class="card-text">Ashish Airon & Pravin Mathur were invited as industry experts at NMIMS to talk about Data Science</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-6">
                    <div class="col-12 mt-3">
                        <div class="card card-yt">
                            <div class="card-horizontal">
                                <img class="articleimg-box-yt" src="static/images/blogs-images/news7.svg" alt="">
                                <div class="card-body">
                                    <p class="card-text text-yt">Top stories of the week</p>
                                    <p class="card-text text-yt text-yt-resp clicktoread"><a href="https://www.youtube.com/watch?v=LJZs9XtDw0k&t=106">
                                         Click to Read More &#62;&#62;</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="col-12 mt-3">
                        <div class="card">
                            <div class="card-horizontal">
                                <img class="articleimg-circle" src="static/images/blogs-images/news8.svg" alt="">
                                <div class="card-body">
                                    <p class="card-text">Our Data Visualization Software CogniViz is now featured on Capterra by Garner Digital</p>
                                    <p class="card-text clicktoread"><a href="https://www.capterra.com/p/198949/CogniViz/">Click to Read More &#62;&#62;
                                    </a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-6">
                    <div class="col-12 mt-3">
                        <div class="card card-aisession">
                            <div class="card-horizontal">
                                <img class="articleimg-circle" src="static/images/blogs-images/news9.svg" alt="">
                                <div class="card-body">
                                    <p class="card-text">AI sessions by our Founder Ashish Airon (mentor of Niti Aayog) at Birla Vidya Niketan</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="col-12 mt-3">
                        <div class="card">
                            <div class="card-horizontal">
                                <img class="articleimg-box" src="static/images/blogs-images/news10.svg" alt="">
                                <div class="card-body">
                                    <p class="card-text">AI/ML Trends: Six <br> Strategic Shift <br> Enterprises will make <br> in 2020</p>
                                    <p class="card-text clicktoread"><a href="https://cio.economictimes.indiatimes.com/news/
                                        strategy-and-management/ai/ml-trends-six-strategic-shift-enterprises-will-make-in-2020/
                                        73922013#:~:text=This%20year%20will%20see%20tremendous,
                                        adaptive%20decision%20making%20by%20AI.">Click to Read More &#62;&#62;</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>

    <br><br><br>
    <footer>
        <img class="footer-building" src="static/images/footer-building.svg" alt="Footer Building">
        <div class="footer-color footer-text text-center p-4">
            © 2021 CogniTensor Technology Pvt. Ltd.
        </div>
    </footer>

</body>

</html>