<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- CSS File -->
    <link rel="stylesheet" href="static/css/styles.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Chivo&family=Libre+Franklin:wght@600&family=Mulish:wght@600;700&family=Open+Sans:wght@600&family=Roboto:wght@400;500;700&family=Sen:wght@700&display=swap"
        rel="stylesheet">

    <title>Contact Us</title>
</head>

<body>

    <!-- Bootstrap JS  -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
    </script>

    <!-- Product Title -->
    <section id="product-title">
        <div class="container-fluid">
            <nav class="navbar navbar-expand-lg navbar-light stroke">
                <a href="index.html" class="navbar-brand"><img class="company-logo" src="static/images/company-logo.svg"
                        alt="CogniTensor Logo"></a>
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item"><a href="aboutus.html" class="nav-link underline-effect">About</a></li>
                        <li class="nav-item"><a href="deepoptics.html" class="nav-link underline-effect">Deep Optics</a></li>
                        <li class="nav-item"><a href="product.html" class="nav-link underline-effect">Products</a></li>
                        <li class="nav-item"><a href="blogs.html" class="nav-link underline-effect">Blogs</a></li>
                        <li class="nav-item"><a href="hiring.html" class="nav-link underline-effect">Hiring</a></li>
                        <li class="nav-item"><a href="contactus.html" class="nav-link underline-effect">Contact Us</a></li>
                        <li class="nav-item"><a href="https://console.cognitensor.com/login" class="nav-link"><button type="button"
                                    class="login-btn">Login</button></a></li>
                    </ul>
                </div>
            </nav>
        </div>

        <img class="left-dots" src="static/images/left-dots.svg" alt="Left Circle Design">

        <div class="row container-fluid">
            <div class="col-lg-6 col-md-6">
                <h1 class="contact-head">Contact Us</h1>
                <p class="contact-para">Here at CogniTensor, we are here to support you and solve your
                    business queries. Feel free to reach us.</p>
            </div>
            <div class="col-lg-6 col-md-6">
                <img class="contact-landing" src="static/images/contactus-images/contact-landing.svg"
                    alt="Contact Us Landing">
            </div>
        </div>

    </section>

    <h1 class="text-center kickstart">Kickstart your AI journey Today!</h1>

    <section id="contact-info">
        <div class="row container-contact">
            <div class="col-lg-6 contact-column">
                <div class="card card-resp-contact">
                    <div class="card-body">
                        <img class="contact-icon" src="static/images/contactus-images/pin-mini.svg" alt="Pin">
                        <p class="info-para">1026, 10th floor World Trade Tower, Sector 16,<br>Noide, Uttar Pradesh,
                            201301
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 contact-column">
                <div class="card">
                    <div class="card-body">
                        <img class="contact-icon" src="static/images/contactus-images/phone-mini.svg" alt="Phone">
                        <p class="info-para"> <br>0120 422 7829 </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 contact-column">
                <div class="card">
                    <div class="card-body">
                        <img class="contact-icon" src="static/images/contactus-images/gmail-mini.svg" alt="Gmail">
                        <p class="info-para"><br>info@cognitensor.com</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="contact-form">
        <div class="row">
            <div class="col-lg-6">
                <img class="contact-map" src="static/images/contactus-images/contact-map.svg" alt="Contact Map">
            </div>
            <div class="col-lg-6 container-input">
                <form action="" method="POST">
                    <input class="contact-form-box" type="text" name="Name" placeholder="Name"><br><br>
                    <input class="contact-form-box" type="text" name="Company_Name" placeholder="Company Name"><br><br>
                    <input class="contact-form-box" type="email" name="email" placeholder="E mail"><br><br>
                    <input class="contact-form-box" type="tel" name="contact" placeholder="Contact No."><br><br>
                    <textarea class="contact-form-box" name="subject" placeholder="Your Message" cols="70.9" rows="4"></textarea><br><br>
                    <!-- <a href="/"><button class="send-btn" type="button">Send</button></a> -->
                    <a href=""><button class="send-btn" type="submit" value="submit">Send</button></a>
                </form>
            </div>
        </div>
    </section>

    <br><br><br><br>
    <footer>
        <img class="footer-building" src="static/images/footer-building.svg" alt="Footer Building">
        <div class="footer-color footer-text text-center p-4">
            © 2021 CogniTensor Technology Pvt. Ltd.
        </div>
    </footer>

</body>

</html>