<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- CSS File -->
    <link rel="stylesheet" href="static/css/styles.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Chivo&family=Libre+Franklin:wght@600&family=Mulish:wght@600;700&family=Open+Sans:wght@600&family=Roboto:wght@400;500;700&display=swap"
        rel="stylesheet">

    <title>Hiring</title>
</head>

<body>
    <script src="./js/script.js"></script>

    <!-- Bootstrap JS  -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
    </script>

    <!-- Product Title -->
    <section id="product-title">
        <div class="container-fluid">
            <nav class="navbar navbar-expand-lg navbar-light stroke">
                <a href="index.html" class="navbar-brand"><img class="company-logo" src="static/images/company-logo.svg"
                        alt="CogniTensor Logo"></a>
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item"><a href="/about" class="nav-link underline-effect">About</a></li>
                        <li class="nav-item"><a href="/deepoptics" class="nav-link underline-effect">Deep Optics</a></li>
                        <li class="nav-item"><a href="/products" class="nav-link underline-effect">Products</a></li>
                        <li class="nav-item"><a href="/blogs" class="nav-link underline-effect">Blogs</a></li>
                        <li class="nav-item"><a href="/hiring" class="nav-link underline-effect">Hiring</a></li>
                        <li class="nav-item"><a href="/contactus" class="nav-link underline-effect">Contact Us</a></li>
                        <li class="nav-item"><a href="https://console.cognitensor.com/login" class="nav-link"><button
                                    type="button" class="login-btn">Login</button></a></li>
                    </ul>
                </div>
            </nav>
        </div>

        <img class="left-dots" src="static/images/left-dots.svg" alt="Left Circle Design">

        <div class="row container-fluid">
            <div class="col-lg-6">
                <h1 class="hiring-head"><span class="joinus">Join Us!</span> Come work at <br> CogniTensor</h1>
                <hr class="yellow-line">
                <p class="hiring-para">Play your part in the AI revolution</p>
                <img class="arrow" src="static/images/hiring-images/arrow.svg" alt="Arrow">
                <h3 class="scroll">Scroll To Discover</h3>
            </div>
            <div class="col-lg-6">
                <img class="hiring-landing" src="static/images/hiring-images/hiring-landing.svg" alt="Hiring Landing">
            </div>
        </div>

    </section>

    <section id="testimonial">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="row">
                        <div class="col-lg-4">
                            <img class="emp-img" src="static/images/hiring-images/protik.svg" alt="">
                        </div>
                        <div class="col-lg-8">
                            <p class="emp-para">It has been a great experience working at CogniTensor
                                as a Data Scientist. I have extremely enjoyed the process
                                of learning implementation of research papers into solving
                                engineering problems in energy domain, retail sector. </p>
                            <p class="emp-role">- Protik Biswas, Data Scientist</p>
                        </div>
                    </div>
                </div>

                <div class="carousel-item">
                    <div class="row">
                        <div class="col-lg-4">
                            <img class="emp-img" src="static/images/hiring-images/tarun.svg" alt="">
                        </div>
                        <div class="col-lg-8">
                            <p class="emp-para">Immense Growth & Learning Opportunities
                                Team will shape your career pathing and look
                                forward to groom you for every aspect of your career.</p>
                            <p class="emp-role">- Tarun Tyagi, Data Scientist</p>
                        </div>
                    </div>
                </div>

                <div class="carousel-item">
                    <div class="row">
                        <div class="col-lg-4">
                            <img class="emp-img" src="static/images/hiring-images/shubham.svg" alt="">
                        </div>
                        <div class="col-lg-8">
                            <p class="emp-para">CogniTensor gave me chance to grow my career as
                                Data Analyst and i feel very proud to be a part of it.
                                It’s been full of learning experience. </p>
                            <p class="emp-role">- Shubham Tomar, Data Analyst </p>
                        </div>
                    </div>
                </div>

                <div class="carousel-item">
                    <div class="row">
                        <div class="col-lg-4">
                            <img class="emp-img" src="static/images/hiring-images/abhishek.svg" alt="">
                        </div>
                        <div class="col-lg-8">
                            <p class="emp-para">CogniTensor provided me a wonderful opportunity to
                                understand the specifics of enterprise sales for digital
                                transformation projects.</p>
                            <p class="emp-role">- Abhishek Raj, Associate Business Manager </p>
                        </div>
                    </div>
                </div>

                <div class="carousel-item">
                    <div class="row">
                        <div class="col-lg-4">
                            <img class="emp-img" src="static/images/hiring-images/neha.svg" alt="">
                        </div>
                        <div class="col-lg-8">
                            <p class="emp-para">CogniTensor is a performance-driven organization.
                                It is a great place for employees to work and grow in
                                the field of AI & ML. The company believes in a
                                high-growth culture and in providing equal opportunities
                                to all its employees.</p>
                            <p class="emp-role">- Neha Saxena, HR Manager</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="positions">
        <h1 class="open-position">Open positions</h1>
        <div class="job-role">
            <h3 class="position-head">Project Manager</h1>
                <button class="position-btn" data-toggle="modal" data-target="#myModal">View Openings</button>
                <div class="modal fade" id="myModal">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">Openings</h4>
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>
                            <div class="modal-body">
                                <div class="row container-fluid">
                                    <div class="col-lg-6">
                                        <h2 class="modal-role-head">Project Manager</h2><br>
                                        <p class="exp-para">-Min 2 Yr experience<br>-Min 2 Yr experience<br>-Min 2 Yr
                                            experience<br>
                                            -Min 2 Yr experience<br>-Min 2 Yr experience</p>
                                    </div>
                                    <div class="vl"></div>
                                    <div class="col-lg-6">
                                        <h2 class="drop-cv">Drop Your CV</h2>
                                        <a href="/hireopening"><button class="upload-cv">Upload</button></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
        <hr>
        <div class="job-role">
            <h3 class="position-head">Business Analyst</h1>
                <button class="position-btn" data-toggle="modal" data-target="#myModal1">View Openings</button>
                <div class="modal fade" id="myModal1">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">Openings</h4>
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>
                            <div class="modal-body">
                                <div class="row container-fluid">
                                    <div class="col-lg-6">
                                        <h2 class="modal-role-head">Business Analyst</h2><br>
                                        <p class="exp-para">-Min 2 Yr experience<br>-Min 2 Yr experience<br>-Min 2 Yr
                                            experience<br>
                                            -Min 2 Yr experience<br>-Min 2 Yr experience</p>
                                    </div>
                                    <div class="vl"></div>
                                    <div class="col-lg-6">
                                        <h2 class="drop-cv">Drop Your CV</h2>
                                        <a href="/hireopening"><button class="upload-cv">Upload</button></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
        <hr>
        <div class="job-role">
            <h3 class="position-head">Sales Manager</h1>
                <button class="position-btn" data-toggle="modal" data-target="#myModal2">View Openings</button>
                <div class="modal fade" id="myModal2">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">Openings</h4>
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>
                            <div class="modal-body">
                                <div class="row container-fluid">
                                    <div class="col-lg-6">
                                        <h2 class="modal-role-head">Sales Manager</h2><br>
                                        <p class="exp-para">-Min 2 Yr experience<br>-Min 2 Yr experience<br>-Min 2 Yr
                                            experience<br>
                                            -Min 2 Yr experience<br>-Min 2 Yr experience</p>
                                    </div>
                                    <div class="vl"></div>
                                    <div class="col-lg-6">
                                        <h2 class="drop-cv">Drop Your CV</h2>
                                        <a href="/hireopening"><button class="upload-cv">Upload</button></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
        <hr>
        <div class="job-role">
            <h3 class="position-head">Web Developer</h1>
                <button class="position-btn" data-toggle="modal" data-target="#myModal3">View Openings</button>
                <div class="modal fade" id="myModal3">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">Openings</h4>
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>
                            <div class="modal-body">
                                <div class="row container-fluid">
                                    <div class="col-lg-6">
                                        <h2 class="modal-role-head">Web Developer</h2><br>
                                        <p class="exp-para">-Min 2 Yr experience<br>-Min 2 Yr experience<br>-Min 2 Yr
                                            experience<br>
                                            -Min 2 Yr experience<br>-Min 2 Yr experience</p>
                                    </div>
                                    <div class="vl"></div>
                                    <div class="col-lg-6">
                                        <h2 class="drop-cv">Drop Your CV</h2>
                                        <a href="/hireopening"><button type="button" class="upload-cv">Upload</button></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
        <hr>
    </section>

    <section id="innovation">
        <div class="row">
            <div class="col-lg-6">
                <p class="joining-para">More than a job it's an adventure in
                    innovation. <span class="join-ct">Join CogniTensor</span></p>
            </div>
            <div class="col-lg-6">
                <img class="join-cognitensor" src="static/images/hiring-images/join-cognitensor.svg" alt="">
            </div>
        </div>
        <img class="hiring-dot" src="static/images/left-dots.svg" alt="Left Dots">
    </section>

    <br><br><br>
    <footer>
        <img class="footer-building" src="static/images/footer-building.svg" alt="Footer Building">
        <div class="footer-color footer-text text-center p-4">
            © 2021 CogniTensor Technology Pvt. Ltd.
        </div>
    </footer>



</body>

</html>