<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- CSS File -->
    <link rel="stylesheet" href="static/css/styles.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Chivo&family=Libre+Franklin:wght@600&family=Mulish:wght@600;700&family=Open+Sans:wght@600&family=Roboto:wght@400;500;700&display=swap"
        rel="stylesheet">

    <title>CogniTensor | An A.I Company</title>
</head>

<body>

    <!-- Javascript File -->
    <script src="js/script.js"></script>

    <!-- Bootstrap JS  -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
    </script>

    <!-- Product Title -->
    <section id="product-title">
        <div class="container-fluid">
            <nav class="navbar navbar-expand-lg navbar-light stroke">
                <a href="index.html" class="navbar-brand"><img class="company-logo" src="static/images/company-logo.svg"
                        alt="CogniTensor Logo"></a>
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item"><a href="/about" class="nav-link underline-effect">About</a></li>
                        <li class="nav-item"><a href="/deepoptics" class="nav-link underline-effect">Deep Optics</a></li>
                        <li class="nav-item"><a href="/products" class="nav-link underline-effect">Products</a></li>
                        <li class="nav-item"><a href="/blogs" class="nav-link underline-effect">Blogs</a></li>
                        <li class="nav-item"><a href="/hiring" class="nav-link underline-effect">Hiring</a></li>
                        <li class="nav-item"><a href="/contactus" class="nav-link underline-effect">Contact Us</a></li>
                        <li class="nav-item"><a href="https://console.cognitensor.com/login" class="nav-link"><button
                                    type="button" class="login-btn">Login</button></a></li>
                    </ul>
                </div>
            </nav>
        </div>

            <div class="row container-fluid">
                <div class="col-lg-6 col-md-6">
                    <p class="landing-para">Bridging the gap <br> between IT & AI by transforming your <br> <span
                            class="wod">"World of Data"</span> into a
                        <span class="woi">"World of Intelligence"</span></p>
                    <button type="button" class="btn-title" data-toggle="modal"
                        data-target="#exampleModal"><span>Request a
                            Demo</span></button>
                    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                        aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <img class="company-logo" src="static/images/company-logo.svg" alt="">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <form method="POST">
                                        <div class="form-group">
                                            <input type="text" class="form-control" id="name" placeholder="Name" name="name">
                                        </div>
                                        <div class="form-group">
                                            <input type="text" class="form-control" id="cname" name="cname"
                                                placeholder="Company Name">
                                        </div>
                                        <div class="form-group">
                                            <input type="email" class="form-control" id="email" placeholder="E-mail" name="email">
                                        </div>
                                        <div class="form-group">
                                            <input type="tel" class="form-control" id="contactno" name="contactno"
                                                placeholder="Contact No.">
                                        </div>
                                        <div class="modal-footer">
                                            <!-- <button type="button" class="btn btn-primary">Submit</button> -->
                                            <a href=""></a><button type="submit" class="btn btn-primary" value="submit">Submit</button>
                                        </div>
                                    </form>
                                </div>
                                <!-- <div class="modal-footer"> -->
                                    <!-- <button type="button" class="btn btn-primary">Submit</button> -->
                                    <!-- <a href=""><button type="submit" class="btn btn-primary" value="submit">Submit</button>> -->
                                <!-- </div> -->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <img class="main-landing" src="static/images/landingpage-images/main-landing.svg" alt="Landing Image">
                </div>
            </div>

    </section>

    <section id="boost-algo">
        <h5 class="algo-head-5 text-center">How our boosting algorithm works?</h5>
        <h2 class="algo-head-2 text-center">Four Step To Boost Your Business</h2>

        <div class="card-layout">
            <div class="row">

                <div class="col-lg-3 col-md-6">
                    <div class="card card-resp" 
                    style="width: 16rem; height: 32rem; box-shadow: 0px 4px 15px 2px #d3d3d3; border-radius: 18px;">
                        <div class="num-style" style="background-color: #049BA4;">
                            <h3 class="card-img-top">01</h3>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title text-center" style="color: #049BA4;">Accumulation</h5>
                            <img class="accumulation-img" src="static/images/landingpage-images/accumulation.svg" alt="">
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="card card-resp" 
                    style="width: 16rem; height: 32rem; box-shadow: 0px 4px 15px 2px #d3d3d3; border-radius: 18px; ">
                        <div class="num-style" style="background-color: #9d0191;">
                            <h3 class="card-img-top">02</h3>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title text-center" style="color: #9d0191;">Analyzation</h5>
                            <img class="analyzation-img" src="static/images/landingpage-images/analyzation.svg" alt="">
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="card card-resp"
                        style="width: 16rem; height: 32rem; box-shadow: 0px 4px 15px 2px #d3d3d3; border-radius: 18px;">
                        <div class="num-style" style="background-color: #fd3a69;">
                            <h3 class="card-img-top">03</h3>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title text-center" style="color: #fd3a69;">Prediction</h5>
                            <img class="prediction-img" src="static/images/landingpage-images/prediction.svg" alt="">
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="card card-resp"
                        style="width: 16rem; height: 32rem; box-shadow: 0px 4px 15px 2px #d3d3d3; border-radius: 18px;">
                        <div class="num-style" style="background-color: #fecd1a;">
                            <h3 class="card-img-top">04</h3>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title text-center" style="color: #fecd1a;">Output</h5>
                            <img class="output-img" src="static/images/landingpage-images/output.svg" alt="">
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </section>

    <section id="optics">
        <img class="landing-dot" src="static/images/landingpage-images/landing-dots.svg" alt="Dot Design">
        <div class="row container-fluid">
            <div class="col-lg-6">
                <img class="optics-landing" src="static/images/landingpage-images/optics-landing.svg"
                    alt="Deep Optics Landing">
            </div>
            <div class="col-lg-6">
                <h1 class="optics-land-head">Deep Optics</h1>
                <p class="optics-land-para">We help you achieve quantifiable business solutions via the
                    exceptional blend of business acumen, big data, and ML.
                    We integrate outstanding technical proficiency to identify the
                    company’s ineptitude and recast them into competence.</p>
                <div class="icon-placing">
                    <img class="dricon" src="static/images/landingpage-images/datarodeo-icon.svg" alt="Data Rodeo Icon">
                    <img class="mlicon" src="static/images/landingpage-images/mlbench-icon.svg" alt="ML Bench Icon">
                    <img class="cvicon" src="static/images/landingpage-images/cogniviz-icon.svg" alt="Cogniviz Icon">
                </div>
                <a class="flexing" href="deepoptics.html">
                    <h3 class="learn-more">Learn More</h3>
                    <img class="right-arrow" src="static/images/landingpage-images/right-arrow.svg" alt="">
                </a>
            </div>
        </div>
    </section>

    <section id="ourproducts">

        <h2 class="text-center pland-head">Our Products</h2>
        <div class="row">
            <div class="col-lg-3 container-p">
                <img class="pimg" src="static/images/landingpage-images/pps.png" alt="">
                <div class="content-p">
                    <p class="text-center para-p">Procurement Planning <br> System</p>
                </div>
            </div>
            <div class="col-lg-3 container-p">
                <img class="pimg" src="static/images/landingpage-images/pas.png" alt="">
                <div class="content-p">
                    <p class="text-center para-p">Payment Analysis System</p>
                </div>
            </div>
            <div class="col-lg-3 container-p">
                <img class="pimg" src="static/images/landingpage-images/dfr.png" alt="">
                <div class="content-p">
                    <p class="text-center para-p">Demand Forcasting and <br> Replenishment</p>
                </div>
            </div>
            <div class="col-lg-3 container-p">
                <img class="pimg" src="static/images/landingpage-images/ea.png" alt="">
                <div class="content-p">
                    <p class="text-center para-p">Energy Analytics</p>
                </div>
            </div>
        </div>
        <a href="./deepoptics.html">
            <button class="btn-1">Learn More <span style='font-size:20px;'>&#8594;</span></button></a>

    </section>

    <section id="partners">
        <h2 class="partner-head">Our Partners & Investors</h2>
        <img class="partner-dot" src="static/images/left-dots.svg" alt="">
        <div id="partners-slider" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner carousel-partners">
                <div class="carousel-item active">
                    <div class="row">
                        <div class="col-lg-4 col-sm-4">
                            <img class="partner-img" src="static/images/landingpage-images/partner-1.svg" alt="">
                        </div>
                        <div class="col-lg-4 col-sm-4">
                            <img class="partner-img" src="static/images/landingpage-images/partner-2.svg" alt="">
                        </div>
                        <div class="col-lg-4 col-sm-4">
                            <img class="partner-img" src="static/images/landingpage-images/partner-3.svg" alt="">
                        </div>
                    </div>
                </div>

                <div class="carousel-item">
                    <div class="row">
                        <div class="col-lg-4 col-sm-4">
                            <img class="partner-img" src="static/images/landingpage-images/partner-3.svg" alt="">
                        </div>
                        <div class="col-lg-4 col-sm-4">
                            <img class="partner-img" src="static/images/landingpage-images/partner-4.svg" alt="">
                        </div>
                        <div class="col-lg-4 col-sm-4">
                            <img class="partner-img" src="static/images/landingpage-images/partner-5.svg" alt="">
                        </div>
                    </div>
                </div>
            </div>

            <a class="carousel-control-prev" href="#partners-slider" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </a>
            <a class="carousel-control-next" href="#partners-slider" role="button" data-slide="next">
                <span class="carousel-control-next-icon"></span>
            </a>
        </div>
    </section>

    <br><br><br>
    <footer>
        <img class="footer-building" src="static/images/footer-building.svg" alt="Footer Building">
        <div class="footer-color footer-text text-center p-4">
            © 2021 CogniTensor Technology Pvt. Ltd.
        </div>
    </footer>

</body>

</html>