<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- CSS File -->
    <link rel="stylesheet" href="static/css/styles.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Chivo&family=Libre+Franklin:wght@600&family=Mulish:wght@600;700&family=Open+Sans:wght@600&family=Roboto:wght@400;500;700&display=swap"
        rel="stylesheet">

    <title>Products</title>
</head>

<body>

    <!-- Bootstrap JS  -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
    </script>

    <!-- Product Title -->
    <section id="product-title">
        <div class="container-fluid">
            <nav class="navbar navbar-expand-lg navbar-light stroke">
                <a href="index.html" class="navbar-brand"><img class="company-logo" src="static/images/company-logo.svg"
                        alt="CogniTensor Logo"></a>
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item"><a href="aboutus.html" class="nav-link underline-effect">About</a></li>
                        <li class="nav-item"><a href="deepoptics.html" class="nav-link underline-effect">Deep Optics</a></li>
                        <li class="nav-item"><a href="product.html" class="nav-link underline-effect">Products</a></li>
                        <li class="nav-item"><a href="blogs.html" class="nav-link underline-effect">Blogs</a></li>
                        <li class="nav-item"><a href="hiring.html" class="nav-link underline-effect">Hiring</a></li>
                        <li class="nav-item"><a href="contactus.html" class="nav-link underline-effect">Contact Us</a></li>
                        <li class="nav-item"><a href="https://console.cognitensor.com/login" class="nav-link"><button type="button"
                                    class="login-btn">Login</button></a></li>
                    </ul>
                </div>
            </nav>
        </div>

        <img class="left-dots" src="static/images/left-dots.svg" alt="Left Circle Design">

        <div class="row container-fluid">
            <div class="col-lg-6">
                <img class="product-landing" src="static/images/product-images/product-landing.svg"
                    alt="Product Landing">
            </div>
            <div class="col-lg-6">
                <h1 class="product-head">Products</h1>
                <p class="product-para">AI Powered Integrated Analytics Solutions Enabaling Real Time Demand
                    Management</p>
            </div>
        </div>

    </section>

    <!-- Product Introduction -->

    <section id="features">
        <div class="row container-product">
            <div class="col-lg-3 feature-box">
                <img class="product-img" src="static/images/product-images/product-1.svg" alt="Product-1">
                <p class="para-info">Demand Forecasting <br> & Replenishment</p>
            </div>
            <div class="col-lg-3 feature-box">
                <img class="product-img" src="static/images/product-images/product-1.svg" alt="Product-2">
                <p class="para-info">Payment Analytics <br> System</p>
            </div>
            <div class="col-lg-3 feature-box">
                <img class="product-img" src="static/images/product-images/product-3.svg" alt="Product-3">
                <p class="para-info">Procurement Planning <br> System</p>
            </div>
            <div class="col-lg-3 feature-box">
                <img class="product-img" src="static/images/product-images/product-4.svg" alt="Product-4">
                <p class="para-info">Energy & Commodity <br> Price Prediction</p>
            </div>
        </div>
    </section>

    <section id="product-detail-1-4">
        <div class="row">
            <div class="col-lg-6">
                <h1 class="description-head-1">Demand Forecasting & <br> Replenishment</h1>
                <p class="description-para-1"><strong>Value Proposition - </strong>AI/ML driven real-time Demand Planning and
                    Replenishment - maximizing profitability<br>
                    <strong>Features - </strong>System predicts how much the manufacturer should produce with the
                    help of the historic sales data. It predicts future orders and also predicts
                    sales for different distributors and tracks their performances.<br>
                    <strong>Business Benefits - </strong>The solution links demand forecasting to inventory levels <br> and supply
                    chain to avoid overstocking and understocking thereby optimising cost and revenue</p>
            </div>
            <div class="col-lg-6">
                <img class="demand-forecasting" src="static/images/product-images/demand-forecasting.svg"
                    alt="Demand Forecasting & Replenishment">
            </div>
        </div>
    </section>

    <section id="product-detail-2-3">
        <img class="right-dots-product-upper" src="static/images/right-dots.svg" alt="Right Circle Design">
        <div class="row">
            <div class="col-lg-6">
                <img class="payment-analysis" src="static/images/product-images/payment-analysis.svg"
                    alt="Payment Analysis System">
            </div>
            <div class="col-lg-6">
                <h1 class="description-head-2 pas-resp">Payment Analysis System</h1>
                <p class="description-para-2 pas-resp"><strong>Value Proposition - </strong>Improved cash flow management <br>
                    <strong>Features - </strong>It ensures smart cash flow management, quicker realisation of payments. Provides
                    personalized recommendations to deal with late payments. Does Payment analysis, Payment
                    ageging analysis, invoice tracking and collection analysis. <br>
                    <strong>Business Benefits - </strong>PAS ensures smart cash flow management. It contributes towards quicker
                    realization of payments.</p>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <h1 class="description-head-3 pps-resp">Procurement Planning System</h1>
                <p class="description-para-3 pps-resp"><strong>Value Proposition - </strong>Optimized supplier management <br>
                    <strong>Features - </strong>The system provides comprehensive information on suppliers evaluation, material
                    quality and delivery analytics. It provides smart recommendations for the choice of
                    suppliers for future purposes based on quality and performance of the supplier. <br>
                    <strong>Business Benefits - </strong>PPS provides critical insights in terms of KPIs for data-driven
                    decisions. It ensures improves procurement planning and quality/cost ratio.
                </p>
            </div>
            <div class="col-lg-6">
                <img class="planning-system" src="static/images/product-images/planning-system.svg"
                    alt="Procurement Planning System">
            </div>
        </div>
    </section>
    <br><br>

    <section id="product-detail-1-4">
        <img class="right-dots-product-lower" src="static/images/right-dots.svg" alt="Right Circle Design">
        <div class="row">
            <div class="col-lg-6">
                <img class="energy-analytics" src="static/images/product-images/energy-analytics.svg"
                    alt="Energy Analytics">
            </div>
            <div class="col-lg-6">
                <h1 class="description-head-4 ea-resp">Energy & Commodity <br> Price Prediction</h1>
                <p class="description-para-4 ea-resp"><strong>Value Proposition - </strong>Optimizing Energy Portfolio Management<br>
                    <strong>Features - </strong>Detects peak prices and suggests when to buy optimally, leverages
                    price differences between markets and attributes optimally to minimize risk exposure<br>
                    <strong>Business Benefits - </strong>Determine expected load on any given day/month thereby
                    optimizing buy/sell decision/portfolio management.
                </p>
            </div>
        </div>
    </section>

    <br><br><br><br>
    <footer>
        <img class="footer-building" src="static/images/footer-building.svg" alt="Footer Building">
        <div class="footer-color footer-text text-center p-4">
            © 2021 CogniTensor Technology Pvt. Ltd.
        </div>
    </footer>


</body>

</html>